<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
      <h1>Login Form</h1>
    </div>
    <div>
      <span>Email : </span><br>
      <input type="text" formControlName="email">
      <div class="error">
        <div *ngIf="(profileForm.controls.email.touched)&&(profileForm.controls.email.hasError('required'))">
          Email is required.
        </div>
    </div>
    </div>
    <div>
      <span>Password : </span><br>
      <input type="password" formControlName="password">
      <div class="error">
        <div *ngIf="(profileForm.controls.password.touched)&&(profileForm.controls.password.hasError('required'))">
          Password is required.
        </div>
      </div>
    </div>
    <div>
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>